/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #fff;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
  position: fixed;
  height: 100%;
}

.nav-sidebar > li > a {
  padding-right: 45px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar-header{
	margin-left: 20px;
	font-size: 11px;
	padding-top: 5px;
	opacity: .5;
}

.icon{
	margin-left: 15px;
	margin-right: 5px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.widget{
	background-color: #EAF3F2;
	margin-bottom: 10px;
}

.widget-simple{
	padding: 15px;
}

.widget-icon{
	border-radius: 70px;
	width: 70px;
	height: 70px;
	float: left;
}

.icons{
	color: #fff;
	font-size: 35px;
	margin: 17px;
}

.title-icon{
	padding-bottom: 10px;
}